langchain
langchain-google-genai
langchain-community
langchain-text-splitters
langchain-postgres
langgraph >= 0.2.28
pre-commit
beautifulsoup4
pypdf
ipykernel
pinecone
weaviate-client
chromadb
pymilvus
pymilvus[model]
qdrant-client
langchain-tavily
langgraph-checkpoint-sqlite
